.navbarMain {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  background-color: var(--primary-color);
}

.linkButtons {
  display: flex;
  align-items: center;
  height: 100%;
}

.linkButtons:hover {
  cursor: pointer;
}

.isActiveLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90px;
  text-decoration: none;
  background-color: var(--secondary-color);
  color: white;
}

.linkButtonStyles {
  height: 100%;
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.removeTextDecoration {
  text-decoration: none;
  color: var(--secondary-color);
}
